.DS_Store
constants.py
READMEprop.md
__pycache__/constants.cpython-311.pyc
asdf
awesome.db
csvfiles/garbage - Copy.csv
csvfiles/garbage.csv
csvfiles/id_abbreviations.csv
csvfiles/out.csv
csvfiles/out.txt
csvfiles/owc_23.csv
errorlog.txt
testingrmd.Rmd
.Rhistory
proposal readme.md
r workspaces/elo up to 6000.RData
csvfiles/all_only_osu.csv
csvfiles/all_player_ids.csv
csvfiles/id_abbrs.csv
csvfiles/id_abbrs_osu.csv
csvfiles/owc_23.csv
csvfiles/user_data - Copy.csv
csvfiles/user_data.csv
csvfiles/id_abbrs.csv
csvfiles/owc_23.csv
csvfiles/id_abbrs.csv
csvfiles/owc_23.csv
r workspaces/workspace.RData
csvfiles/owc_23.csv
csvfiles/id_abbrs.csv
csvfiles/owc_23.csv
